@{
    ViewBag.Title = "Home Page";
}

<h2>@Html.ActionLink(" Go to Add Files", "Upload", "UploadFile")</h2>
<p>
    <h2>@Html.ActionLink("List Data", "List", "UploadFile")</h2>
</p>
<p>
    <h2>@Html.ActionLink("Go to Download", "Download", "Download")</h2>
</p>

